{{!-- <html>
    <body>
      <h1>{{db_result.firstName}}</h1>
    </body>
</html> --}}

{{!-- <html>
    <body>
    <h1>{{db_result.user4}}</h1>
    <form action="/insert_data" method="post" >
     <fieldset>
       <legend>Sample Form</legend>
            First name:<br>
            <input type="text" name="firstName" >
            <br>
            Last name:<br>
            <input type="text" name="lastName">
         <br><br>
         <input type="submit" value="Submit">
        </fieldset>
     </form>
   </body>
</html> --}}